#03.리스트(list)

---
## 03.01 리스트개요
### 03-01-01 리스트란
*일련의 값이 모인 집합을 다루기 위한 자료형, python은 배열과 같은 표현식을 쓰지만
, 일반적인프로그래밍 언어와 다르게, 길이를 동적으로 조절할수있어 list라고 부른다.

## 03-01-02 리스트표현식

In [1]:
리스트명 = ['값1','값2' ...]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2698047120.py, line 1)

*list의 각요소의 자료형은 무엇이든 될수있다(서로다른 자료형이어도 괜찮다)
*list에 저장되는 요소들은 0부터 시작하는 인덱스 체계로 구분해서 저장된다

In [4]:
fruits = ['orange','apple','pear','banana','apple']
print(fruits)
print(fruits[0])
print(fruits[2])

['orange', 'apple', 'pear', 'banana', 'apple']
orange
pear

### 03-01-03 문자열의 split()
*문자열을 구분자 기준으로 분리하여list로 변환해주는 메서드

In [5]:
rainbow = '빨-주-노-초-파-남-보'
print(rainbow.split('-'))

['빨', '주', '노', '초', '파', '남', '보']

### 03-01-04 list()메서드
반복가능한 객체를 받아서 각 요소를 리스트의 원소뤄 반환

In [6]:
list1= [] #빈리스트를 생성
list2 = list() #새로운 빈 리스트를 생성한다
print(list1 == list2)
print(type(list1))
print(type(list2))

True
<class 'list'>
<class 'list'>

In [7]:
list3 = list('hello')
print(list3)

['h', 'e', 'l', 'l', 'o']

---
###03-02 리스트연산

In [9]:
safari_list = ["Bear", "korea","Gorilla","Sqirrel"]
another_safari_list = ["Monkey" ,"Tiger" ,"Wolf"]

print(another_safari_list)

['Monkey', 'Tiger', 'Wolf']

In [10]:
print(safari_list+another_safari_list)

['Bear', 'korea', 'Gorilla', 'Sqirrel', 'Monkey', 'Tiger', 'Wolf']

###03-02-02 리스트 반복:*
*리스트에 *연산을 하면 요소를 반복할수있다

In [11]:
print(safari_list*4)

['Bear', 'korea', 'Gorilla', 'Sqirrel', 'Bear', 'korea', 'Gorilla', 'Sqirrel', 'Bear', 'korea', 'Gorilla', 'Sqirrel', 'Bear', 'korea', 'Gorilla', 'Sqirrel']

## 03-03리스트메서드

In [13]:
fruits = ['orange', 'apple','pear','banana','kiwi','apple']
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

###index()
*배열에서 특정요소의 인덱스값을 구하는메서드

In [14]:
print("index : ", fruits.index("apple"))

index :  1

In [15]:
print("index :", fruits.index("apple1"))

ValueError: 'apple1' is not in list

In [16]:
print("index :", fruits.index("apple", 3)) #세번쨰부터 찾아요

index : 5

###reverse()
*배열을 역순으로 바꿔준다

In [18]:
print(fruits)

fruits.reverse()

print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

##append()
리스트의 끝에 새로운 요소를 추가하는 메소드

In [19]:
fruits.append("pineapple")
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

extend()
*리스트의 끝에 다른 리스트의 요소를 추가

In [20]:
another_fruits = ['rainbow fruit', 'sweet lemon','happy apple']
fruits.extend(another_fruits)
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow fruit', 'sweet lemon', 'happy apple']

insert()
특정위치에 요소를 삽입하는 메서드

In [21]:
fruits.insert(1, 'monkey banana')
print(fruits)

['apple', 'monkey banana', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow fruit', 'sweet lemon', 'happy apple']

###sort()
리스트의 요소를 정렬할때 사용하는 메서드

In [25]:
#기본정렬
fruits.sort()
print(fruits)

#내림차순정렬
fruits.sort(reverse=True)
print(fruits)

#문자열길이가 짧은 순으로 정렬
fruits.sort(key=len)
print(fruits)

['apple', 'apple', 'banana', 'happy apple', 'kiwi', 'monkey banana', 'orange', 'pear', 'pineapple', 'rainbow fruit', 'sweet lemon']
['sweet lemon', 'rainbow fruit', 'pineapple', 'pear', 'orange', 'monkey banana', 'kiwi', 'happy apple', 'banana', 'apple', 'apple']
['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monkey banana']

---
###remove()
리스트에서 특정값을 찾아 제거하는 메서드

In [26]:
fruits.remove('kiwi')
print(fruits)

['pear', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monkey banana']

###pop()
특정위치에 있는 요소를 제거하고 반환하는 메서드
인덱스를 지정하지 ㅇ낳으면 리스트의 마지막 요소를 제거하고 반환

In [27]:
temp = fruits.pop(0)
print(temp)
print(fruits)

pear
['apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monkey banana']

---
## 03-05 del키워드
### 03-05-01 del
*객체를 삭제할때 사용되는 키워드
*리스트의 특정요소를 삭제하거나 변수를 삭제할때 사용한다

In [31]:
abc_list =['a','b','c','f']
del abc_list[0] #0번째 인덱스의 요소제거
print(abc_list)

del abc_list[1:3]
print(abc_list)

del abc_list[:] #모든요소를 제거
print(abc_list)

['b', 'c', 'f']
['b']
[]

#01. 튜플(tuple)
---
#04-01 튜플개요
여러개의 값을 하나의 변수에 저장할수있는 자료구조이디ㅏ
튜플은 한번 생성되면 그 값을 변경할숭벗다

040102 튜플 표현식
튜플은 소괄호를 사용하거나 사용하지 않고 생성할수있으며,
생성된 이후에는 그 값을 변경할수없다

In [ ]:
튜플명 = ['값1','값2',...]

In [35]:
tuples = (1,2,'hello'), ('test',1,2,3,4)
print(tuples)
print(tuples[0][2])

no_wrap_tuple=1,2,3
print(no_wrap_tuple)

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
hello
(1, 2, 3)

---
## 04-02 튜플연산
### 04-02-01 불변객체
*튜플은 불변객체이므로 요소 값을 할당하면, 추가, 수정, 삭제가 불가하다
*이때 값을 재할당하면 값이 다시 입력될수있는데  <br>
기존의 변수에 값이 재할당되는것이 아닌 새로운 변수가 생성되는것

In [36]:
tuples =(1,2 'hello'),('test', 1,2,3,4)
tuples[0] = (1,2,3,4)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2415193532.py, line 1)

In [38]:
#id(): 인자로 전달된 개체의 주소값을 반환
#메로리의 위치가 다르다
#튜플은 불변객체이기 떄문에 튜플이 변경될때 마다 새로운 객체를 생성한다.

test_list =(1,2,3,4)
print(id(test_list))

test_list =(3,4,5)
print(id(test_list))

1226542443040
1226540958080

In [ ]:
safari_tuple=('bear','koara','gorilla','squirrel')

In [39]:
#튜플합치가
another_safari_tuple = ('monkey','tiger','wolf')
print(safari_tuple + another_safari_tuple)

#튜플 반복
print(safari_tuple*3)

#튜플의 길이
print(len(safari_tuple + another_safari_tuple))

NameError: name 'safari_tuple' is not defined